# Project
!fragensammlung_beispiel.zip
*.zip
colors.png
exam.txt
fragensammlung.txt
fuxenloesung.txt
fuxenpruefung.txt
solution.txt
!.travis.yml
.*_settings.yml

# Windows
build*
desktop.ini
dist*

# Python
__pycache__
